	<div class="container">
	<div>
		<div class="form-group d-flex justify-content-between">
			<div>
				<h3>Cari Obat & alat Kesehatan</h3>
			</div>
			<div>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
		<div>
		<div class="form-group">
			<label>Kategori</label>
				<div class="tempKatagori">
			</div>
		</div>
			<div class="form-group">
			<label class="control-label text-muted"> Kata Kunci </label>
				<input class="form-control" type="text" id="kataKunciID" placeholder="nama obat atau indikasi" style="width: 100%">
			</div>
			<div id="cekObatID" class="form-check">
			  <input class="form-check-input" type="radio" name="exampleRadios"  value="1" checked id="cekObat1">
			    <label class="form-check-label" for="exampleRadios2">Cari semua obat(Termasuk obat keras)</label><br>
			   <input class="form-check-input" type="radio" name="exampleRadios" value="2" id="cekObat2"> 
			  <label class="form-check-label" for="exampleRadios1">Hanya cari obat bebas tanpa resep</label>
			</div>
			<div class="form-group">
				<label>Harga</label>
			<input class="form-control" id="hargaAwalID" type="text" placeholder="Rp 0"> 
			 
			</div>
			<div class="form-group">
			<label>Sampai</label>
			 <input class="form-control" id="hargaAkhirlID" type="text" placeholder="Rp 100,000,000">
			</div>
		</div>
		
				 	
	</div>
	</div>

<script src="../custom.js/cariObatHTML.js"></script>
