<head>
<link rel="stylesheet"
	href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
	integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
	crossorigin="anonymous" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
</head>

<div class="pd-ltr-20 xs-pd-20-10">
	<div class="min-height-200px">
		<div class="row">
			<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-30">
				<div class="pd-20 card-box height-100-p">
					<div class="profile-photo">
						<a href="modal" data-toggle="modal" data-target="#modal"
							class="edit-avatar"><i class="fa fa-pencil"></i></a> <img
							src="vendors/images/photo1.jpg" alt="" class="avatar-photo">
						<div class="modal fade" id="modal" tabindex="-1" role="dialog"
							aria-labelledby="modalLabel" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-body pd-5">
										<div class="img-container">
											<img id="image" src="vendors/images/photo2.jpg" alt="Picture">
										</div>
									</div>
									<div class="modal-footer">
										<input type="submit" value="Update" class="btn btn-primary">
										<button type="button" class="btn btn-default"
											data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<h5 class="text-center h5 mb-0">Ross C. Lopez</h5>
					<p class="text-center text-muted font-14">Lorem ipsum dolor sit
						amet</p>
					<div class="profile-info">
						<ul>
							<li><span>Pasien</span></li>
							<li><span>Pembelian Obat</span></li>
							<li><span>Riwayat Kedatangan</span></li>
							<li><span>Rencana Kedatangan Dokter</span></li>
						</ul>
					</div>

				</div>
			</div>
			<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 mb-30">
				<div class="card-box height-100-p overflow-hidden">
					<div class="profile-tab height-100-p">
						<div class="tab height-100-p">
							<ul class="nav nav-tabs customtab" role="tablist">
								<li class="nav-item"><a class="nav-link active"
									data-toggle="tab" href="#timeline" role="tab">Timeline</a></li>
								<li class="nav-item"><a class="nav-link" data-toggle="tab"
									href="#tasks" role="tab">Tasks</a></li>
								<li class="nav-item"><a class="nav-link pembayaran"
									data-toggle="tab" href="#setting" role="tab">Pembayaran</a></li>
							</ul>
							<div class="tab-content">
								<!-- Timeline Tab start -->
								<div class="tab-pane fade show active" id="timeline"
									role="tabpanel">
									<div class="pd-20">
										<div class="profile-timeline">

											<h5>Data Pribadi</h5>
											&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
											&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
											&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
											&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
											&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
											&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
											&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
											&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a data-toggle="modal"
												href="/tabProfileEdit"><i class="fa fa-pencil"
												id="editDataDiri"></i></a>


											<div class="profile-timeline-list" id="dataDiri">
												<div class="task-name">Nama Lengkap</div>

												<div class="input-group custom">
													<input type="text"
														class="form-control form-control-lg fullname"
														placeholder="Nama Lengka">
												</div>

												<div class="task-name">Tanggal Lahir</div>

												<div class="input-group custom">
													<input type="text"
														class="form-control form-control-lg birthday"
														placeholder="Tempat Tanggal Lahir">
												</div>

												<div class="task-name">Nomor Telepon</div>
												<div class="input-group custom">
													<div class="input-group-prepend">
														<span class="input-group-text">+62</span> <input
															type="text"
															class="form-control form-control-lg mobilePhone"
															placeholder="Nomor Telepon">
													</div>
												</div>

											</div>
											<br /> <br />
											<div class="timeline-month">
												<h5>Data Akun</h5>
											</div>
											<div class="profile-timeline-list" id="dataAkun">
												<form>
													<div class="task-name">
														Email
														<div class="input-group custom">
															<input type="text"
																class="form-control form-control-lg email"
																placeholder="Email">
															<div class="input-group-append custom">
																<span class="input-group-text"><i
																	class="fa fa-pencil" id="editEmail" aria-hidden="true"></i></span>
															</div>
														</div>
													</div>
													<div class="task-name">
														Password
														<div class="input-group custom">
															<input type="password"
																class="form-control form-control-lg password"
																placeholder="Password">
															<div class="input-group-append custom">
																<span class="input-group-text"><i
																	class="fa fa-pencil" id="editPassword"
																	aria-hidden="true"></i></span>
															</div>
														</div>
												</form>

											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Timeline Tab End -->
							<!-- Tasks Tab start -->

							<div class="tab-pane fade" id="tasks" role="tabpanel">
								<div class="pd-20 profile-task-wrap">
									<div class="container pd-0">
										<!-- Open Task start -->
										<div class="task-title row align-items-center">
											<div class="col-md-8 col-sm-12">
												<h5>Open Tasks (4 Left)</h5>
											</div>
											<div class="col-md-4 col-sm-12 text-right">
												<a href="task-add" data-toggle="modal"
													data-target="#task-add"
													class="bg-light-blue btn text-blue weight-500"><i
													class="ion-plus-round"></i> Add</a>
											</div>
										</div>
										<div class="profile-task-list pb-30">
											<ul>
												<li>
													<div class="custom-control custom-checkbox mb-5">
														<input type="checkbox" class="custom-control-input"
															id="task-1"> <label class="custom-control-label"
															for="task-1"></label>
													</div>
													<div class="task-type">Email</div> Lorem ipsum dolor sit
													amet, consectetur adipisicing elit. Id ea earum.
													<div class="task-assign">
														Assigned to Ferdinand M.
														<div class="due-date">
															due date <span>22 February 2019</span>
														</div>
													</div>
												</li>
												<li>
													<div class="custom-control custom-checkbox mb-5">
														<input type="checkbox" class="custom-control-input"
															id="task-2"> <label class="custom-control-label"
															for="task-2"></label>
													</div>
													<div class="task-type">Email</div> Lorem ipsum dolor sit
													amet.
													<div class="task-assign">
														Assigned to Ferdinand M.
														<div class="due-date">
															due date <span>22 February 2019</span>
														</div>
													</div>
												</li>
												<li>
													<div class="custom-control custom-checkbox mb-5">
														<input type="checkbox" class="custom-control-input"
															id="task-3"> <label class="custom-control-label"
															for="task-3"></label>
													</div>
													<div class="task-type">Email</div> Lorem ipsum dolor sit
													amet, consectetur adipisicing elit.
													<div class="task-assign">
														Assigned to Ferdinand M.
														<div class="due-date">
															due date <span>22 February 2019</span>
														</div>
													</div>
												</li>
												<li>
													<div class="custom-control custom-checkbox mb-5">
														<input type="checkbox" class="custom-control-input"
															id="task-4"> <label class="custom-control-label"
															for="task-4"></label>
													</div>
													<div class="task-type">Email</div> Lorem ipsum dolor sit
													amet. Id ea earum.
													<div class="task-assign">
														Assigned to Ferdinand M.
														<div class="due-date">
															due date <span>22 February 2019</span>
														</div>
													</div>
												</li>
											</ul>
										</div>
										<!-- Open Task End -->
										<!-- Close Task start -->
										<div class="task-title row align-items-center">
											<div class="col-md-12 col-sm-12">
												<h5>Closed Tasks</h5>
											</div>
										</div>
										<div class="profile-task-list close-tasks">
											<ul>
												<li>
													<div class="custom-control custom-checkbox mb-5">
														<input type="checkbox" class="custom-control-input"
															id="task-close-1" checked="" disabled=""> <label
															class="custom-control-label" for="task-close-1"></label>
													</div>
													<div class="task-type">Email</div> Lorem ipsum dolor sit
													amet, consectetur adipisicing elit. Id ea earum.
													<div class="task-assign">
														Assigned to Ferdinand M.
														<div class="due-date">
															due date <span>22 February 2018</span>
														</div>
													</div>
												</li>
												<li>
													<div class="custom-control custom-checkbox mb-5">
														<input type="checkbox" class="custom-control-input"
															id="task-close-2" checked="" disabled=""> <label
															class="custom-control-label" for="task-close-2"></label>
													</div>
													<div class="task-type">Email</div> Lorem ipsum dolor sit
													amet.
													<div class="task-assign">
														Assigned to Ferdinand M.
														<div class="due-date">
															due date <span>22 February 2018</span>
														</div>
													</div>
												</li>
												<li>
													<div class="custom-control custom-checkbox mb-5">
														<input type="checkbox" class="custom-control-input"
															id="task-close-3" checked="" disabled=""> <label
															class="custom-control-label" for="task-close-3"></label>
													</div>
													<div class="task-type">Email</div> Lorem ipsum dolor sit
													amet, consectetur adipisicing elit.
													<div class="task-assign">
														Assigned to Ferdinand M.
														<div class="due-date">
															due date <span>22 February 2018</span>
														</div>
													</div>
												</li>
												<li>
													<div class="custom-control custom-checkbox mb-5">
														<input type="checkbox" class="custom-control-input"
															id="task-close-4" checked="" disabled=""> <label
															class="custom-control-label" for="task-close-4"></label>
													</div>
													<div class="task-type">Email</div> Lorem ipsum dolor sit
													amet. Id ea earum.
													<div class="task-assign">
														Assigned to Ferdinand M.
														<div class="due-date">
															due date <span>22 February 2018</span>
														</div>
													</div>
												</li>
											</ul>
										</div>
										<!-- Close Task start -->
										<!-- add task popup start -->
										<div class="modal fade customscroll" id="task-add"
											tabindex="-1" role="dialog">
											<div class="modal-dialog modal-dialog-centered"
												role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLongTitle">Tasks
															Add</h5>
														<button type="button" class="close" data-dismiss="modal"
															aria-label="Close" data-toggle="tooltip"
															data-placement="bottom" title=""
															data-original-title="Close Modal">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body pd-0">
														<div class="task-list-form">
															<ul>
																<li>
																	<form>
																		<div class="form-group row">
																			<label class="col-md-4">Task Type</label>
																			<div class="col-md-8">
																				<input type="text" class="form-control">
																			</div>
																		</div>
																		<div class="form-group row">
																			<label class="col-md-4">Task Message</label>
																			<div class="col-md-8">
																				<textarea class="form-control"></textarea>
																			</div>
																		</div>
																		<div class="form-group row">
																			<label class="col-md-4">Assigned to</label>
																			<div class="col-md-8">
																				<select class="selectpicker form-control"
																					data-style="btn-outline-primary" title="Not Chosen"
																					multiple="" data-selected-text-format="count"
																					data-count-selected-text="{0} people selected">
																					<option>Ferdinand M.</option>
																					<option>Don H. Rabon</option>
																					<option>Ann P. Harris</option>
																					<option>Katie D. Verdin</option>
																					<option>Christopher S. Fulghum</option>
																					<option>Matthew C. Porter</option>
																				</select>
																			</div>
																		</div>
																		<div class="form-group row mb-0">
																			<label class="col-md-4">Due Date</label>
																			<div class="col-md-8">
																				<input type="text" class="form-control date-picker">
																			</div>
																		</div>
																	</form>
																</li>
																<li><a href="javascript:;" class="remove-task"
																	data-toggle="tooltip" data-placement="bottom" title=""
																	data-original-title="Remove Task"><i
																		class="ion-minus-circled"></i></a>
																	<form>
																		<div class="form-group row">
																			<label class="col-md-4">Task Type</label>
																			<div class="col-md-8">
																				<input type="text" class="form-control">
																			</div>
																		</div>
																		<div class="form-group row">
																			<label class="col-md-4">Task Message</label>
																			<div class="col-md-8">
																				<textarea class="form-control"></textarea>
																			</div>
																		</div>
																		<div class="form-group row">
																			<label class="col-md-4">Assigned to</label>
																			<div class="col-md-8">
																				<select class="selectpicker form-control"
																					data-style="btn-outline-primary" title="Not Chosen"
																					multiple="" data-selected-text-format="count"
																					data-count-selected-text="{0} people selected">
																					<option>Ferdinand M.</option>
																					<option>Don H. Rabon</option>
																					<option>Ann P. Harris</option>
																					<option>Katie D. Verdin</option>
																					<option>Christopher S. Fulghum</option>
																					<option>Matthew C. Porter</option>
																				</select>
																			</div>
																		</div>
																		<div class="form-group row mb-0">
																			<label class="col-md-4">Due Date</label>
																			<div class="col-md-8">
																				<input type="text" class="form-control date-picker">
																			</div>
																		</div>
																	</form></li>
															</ul>
														</div>
														<div class="add-more-task">
															<a href="#" data-toggle="tooltip" data-placement="bottom"
																title="" data-original-title="Add Task"><i
																class="ion-plus-circled"></i> Add More Task</a>
														</div>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-primary">Add</button>
														<button type="button" class="btn btn-secondary"
															data-dismiss="modal">Close</button>
													</div>
												</div>
											</div>
										</div>
										<!-- add task popup End -->
									</div>
								</div>
							</div>
							<!-- Tasks Tab End -->
							<!-- Setting Tab start -->
							<div class="tab-pane fade height-100-p" id="setting"
								role="tabpanel">
								<br>
								<div class="row">
									<div class="card" style="width: 100%">
										<div class="card-body body-credit-card"></div>
									</div>
									<div class="card" style="width: 100%">
										<div class="card-body dompet-credit-card"></div>
									</div>
								</div>
								<div class="modal fade" id="pembayaran" role="dialog"
									arialabelledby="modalLabel" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-body">
												<div class="container">
													<div id="tambahPembayaranKartu" class="well"></div>
												</div>
											</div>
											<div class="modal-footer d-flex justify-content-around">
												<button id=clear class="btn btn-outline-primary"
													data-dismiss="modal">Batal</button>
												<button id="TambahKartu" class="btn btn-primary">Simpan</button>

											</div>
										</div>
									</div>
								</div>
								<div class="modal" id="alert">
									<div class="modal-dialog modal-sm">
										<div class="modal-content">

											<div class="modal-header">
												<h4 class="modal-title-alert"></h4>
												<button type="button" class="close backModalUtama" data-dismiss="modal">&times;</button>
											</div>

											<div class="modal-body" id="isialert"></div>
										</div>
									</div>
								</div>
								<div class="modal modal-confirm" tabindex="-1" role="dialog">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title modal-confirm-title">Modal title</h5>
												<button type="button" class="close" data-dismiss="modal"
													aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body modal-confirm-body">
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-primary btn-confirm">Save
													changes</button>
												<button type="button" class="btn btn-secondary"
													data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>
								<!-- Setting Tab End -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<!-- js -->

	<script>
		window.addEventListener('DOMContentLoaded', function() {
			var image = document.getElementById('image');
			var cropBoxData;
			var canvasData;
			var cropper;

			$('#modal').on(
					'shown.bs.modal',
					function() {
						cropper = new Cropper(image, {
							autoCropArea : 0.5,
							dragMode : 'move',
							aspectRatio : 3 / 3,
							restore : false,
							guides : false,
							center : false,
							highlight : false,
							cropBoxMovable : false,
							cropBoxResizable : false,
							toggleDragModeOnDblclick : false,
							ready : function() {
								cropper.setCropBoxData(cropBoxData)
										.setCanvasData(canvasData);
							}
						});
					}).on('hidden.bs.modal', function() {
				cropBoxData = cropper.getCropBoxData();
				canvasData = cropper.getCanvasData();
				cropper.destroy();
			});
		});
	</script>

	<script src="../custom.Js/Profile/Pembayaran/Profile.js"></script>
	<!-- <script type="text/javascript" src="../tabProfile/tabProfile.js"></script> -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>

	</body>
	</html>